p {
  margin: 0;
}

.visible {
  visibility: visible;
  opacity: 1;

  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.photo-list {
  padding: 0 3em;
  list-style-type: none;
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;

  -moz-column-count: 5;
  -moz-column-gap: 0px;

  column-count: 5;
  column-gap: 0 px;
}

.photo:first-child {
  margin-top: 0;
}

.photo {
  margin: 5px 2.5px;
  position: relative;
}

.loader {
  text-align: center;
  height: 2em;
  width: auto;
  padding-top: 1em;
}

.loader img {
  height: 2em;
  width: auto;
}


.caption-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
  height: 100%;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.caption {
  position: absolute;
  bottom: 50%;
  color: white;
  font-family: sans-serif;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.photo:hover .caption {
  -webkit--transform: translateY(50%);
  -moz-transform: translateY(50%);
  transform: translateY(50%);
}

.photo {
  overflow: hidden;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  -ms-column-break-inside: avoid;
  column-break-inside: avoid;
  -webkit-backface-visibility: hidden;
}

.image {
  max-width: 100%;
  height: auto;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.photo:hover .image {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.photo:hover .caption-container {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.photo .image {
  width: 100%;
  height: auto;
}

.photo .caption {
  padding: 1em;
  line-height: normal;
  text-align: center;
}

@media (max-width: 1175px) {
  .photo-list {
    padding: 0 2em;

    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }

  .loader img {
    height: 2.5em;
    width: auto;
  }
}

@media (max-width: 925px) {
  .photo-list {
    padding: 0 1.5em;

    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

  .loader img {
    height: 3em;
    width: auto;
  }
}

@media (max-width: 700px) {
  .photo-list {
    padding: 0 1em;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .loader img {
    height: 3.5em;
    width: auto;
  }
}

@media (max-width: 500px) {
  .photo-list {
    padding: 0 0.5em;

    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .loader img {
    height: 4em;
    width: auto;
  }
}
