.visible {
  visibility: visible;
  opacity: 1;

  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.hidden {
  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.photo-list {
  padding: 0 2em;
  list-style-type: none;
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;

  -moz-column-count: 5;
  -moz-column-gap: 0px;

  column-count: 5;
  column-gap: 0 px;
}

.photo:first-child {
  margin-top: 0;
}

.photo {
  margin: 5px 2.5px;
  position: relative;
}

.loader {
  text-align: center;
}

p {
  margin: 0;
}

.caption-container {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
  height: 100%;
}

.caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.photo:hover .caption-container {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.photo .image {
  width: 100%;
  height: auto;
}

.photo .caption {
  padding: 1em;
  line-height: normal;
  text-align: center;
}
